extends layout
block content
  .contenido-principal
    h1 #{pageName} - #{project.name}


    form.agregar-tarea(action=`/projects/${project.url}` method="POST")
      .campo
        label(for="task") Task:
        input.nombre-tarea(type="text" name="name" placeholder="Task Name")
      .campo.enviar
        input.boton.nueva-tarea(type="submit" value="Add")

    .listado-pendientes
      ul
        if tasks.length
          each task in tasks
            li.tarea
              p= task.name
              .acciones
                if task.completed
                  i.far.fa-check-circle.completo(data-task-id=task.id)
                else
                  i.far.fa-check-circle(data-task-id=task.id)
                i.fas.fa-trash(data-task-id=task.id)
        else
          p There are not tasks
    //pre=vardump(tasks)

    // project progress
    .avance
      h2 Project Progress
      #barra-avance.barra-avance
        #porcentaje.porcentaje

    // actions that can be done
    .contenedor-acciones
      a(href=`/project/edit/${project.id}` class="boton") Edit Project
      button#eliminar-proyecto(data-project-url=project.url type="button" class="boton eliminar") Delete Project